.header
  .header-contents
    .header-contents__left
      %h1.header_title 
        活版印刷案内所
    .header-contents__right
      - if user_signed_in?
        %select
          %option 
            = current_user.username
          %option{value= ""} マイページ
          %option{value= ""} 
            =link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        .menu
          =link_to "ログイン", new_user_session_path, {class: "link"}

.serch-contents
  .serch-keyword
    %h3.serch-title キーワードから探す
    %form.search-box
      %input{class: "search-box__input", type: "text", name: "key", placeholder: "キーワード ( 例 : ワークショップ )"}
      %input{class: "search-box__submit", type: "submit", value: "検索"}

  .serch-slider
    %ul.autoplay-slider
      .slide.span
        =link_to image_tag("/onlineshop.jpeg", size: "300x300", alt: "オンラインショップ") 
        %p オンラインショップ
      .slide.span
        =link_to image_tag("/workshop.jpeg", size: "300x300", alt: "ワークショップ")
        %p ワークショップ
      .slide.span
        =link_to image_tag("/shop.jpeg", size: "300x300", alt: "見学ができる印刷所") 
        %p 見学ができる印刷所
      .slide.span
        =link_to image_tag("/onlineshop.jpeg", size: "300x300", alt: "オンラインショップ") 
        %p オンラインショップ
      .slide.span
        =link_to image_tag("/workshop.jpeg", size: "300x300", alt: "ワークショップ")
        %p ワークショップ
      .slide.span
        =link_to image_tag("/shop.jpeg", size: "300x300", alt: "見学ができる印刷所") 
        %p 見学ができる印刷所

.footer
  .footer-wrap
    .footer-wrap__top
      %ul.language-list
        %li.language-title
          言語：
        %li.language
          =link_to "English", "/"
        %li.language
          =link_to "简体中文", "/"
        %li.language
          =link_to "繁体中文", "/"
        %li.language
          =link_to "한국어", "/"
    .footer-wrap__bottom
      .service-icon-box
        活版印刷案内所
      .sitemap
        .sitemap__link.first-link 
          =link_to "プライバシーポリシー", "/"
        .sitemap__link
          =mail_to "hattori.htm@gmail.com", "お問い合わせ"
      %span
        Copyright ©︎ hitomi_hattori All Rights Reserved.