.footer
  .footer-wrap
    .footer-wrap__top
      %ul.language-list
        %li.language-title
          言語：
        %li.language
          =link_to "English", "/"
        %li.language
          =link_to "简体中文", "/"
        %li.language
          =link_to "繁体中文", "/"
        %li.language
          =link_to "한국어", "/"
    .footer-wrap__bottom
      .service-icon-box
        活版印刷案内所
      .sitemap
        .sitemap__link.first-link 
          =link_to "プライバシーポリシー", "/"
        .sitemap__link
          =mail_to "hattori.htm@gmail.com", "お問い合わせ"
      %span
        Copyright ©︎ hitomi_hattori All Rights Reserved.